<div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: rgb(128, 20, 230);">
        Column
      </div>
      <div class="col" style="background-color: rgb(22, 79, 184);">
        Column
      </div>
      <div class="col" style="background-color: rgb(31, 185, 31);">
        Column
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: rgb(146, 32, 99);">
        Column
      </div>
      <div class="col" style="background-color: rgb(156, 180, 125);">
        Column
      </div>
      <div class="col" style="background-color: rgb(175, 185, 31);">
        Column
      </div>
    </div>
  </div>