<div class="row" style="background-color: black;">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <h2 class="fw-normal" style="color: aqua;">Planetas Enanos</h2>
      <p style="color: aqua;">Los planetas enanos son objetos celestes que comparten algunas características con los planetas, pero no cumplen con los criterios que definen a los planetas principales.</p>
      
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <h2 class="fw-normal" style="color: aqua;">Asteroides</h2>
      <p style="color: aqua;">Los asteroides son cuerpos rocosos o metálicos más pequeños que orbitan alrededor del Sol, principalmente en el cinturón de asteroides, que se encuentra entre las órbitas de Marte y Júpiter. Los asteroides varían en tamaño desde pequeñas rocas hasta varios cientos de kilómetros de diámetro. Algunos asteroides tienen órbitas que los llevan más cerca de la Tierra y, en ocasiones, pueden representar una amenaza potencial de impacto.</p>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <h2 class="fw-normal" style="color: aqua;">Cometas</h2>
      <p style="color: aqua;">Los cometas son cuerpos celestes formados principalmente por hielo, polvo y roca que orbitan alrededor del Sol en órbitas altamente elípticas. Cuando un cometa se acerca al Sol en su órbita, el calor solar provoca la sublimación de los hielos, creando una brillante coma (cabeza) y a menudo una cola larga que apunta en la dirección opuesta al Sol debido al viento solar.</p>
    </div>
  </div>
<div class="row" style="background-color: black;">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/9.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Mercurio</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mercurio es el planeta más cercano al Sol y también el más pequeño del sistema solar. Tiene una superficie rocosa y un día extremadamente largo y caliente, así como noches extremadamente frías debido a la falta de atmósfera significativa para retener el calor. La superficie está marcada por cráteres y cañones.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-secondary"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/10.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Venus</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Venus es similar en tamaño y composición a la Tierra, pero su atmósfera es extremadamente densa y está compuesta principalmente de dióxido de carbono, lo que crea un efecto invernadero descontrolado y una superficie abrasadora, lo que lo convierte en el planeta más caliente del sistema solar. También es conocido por su espesa capa de nubes que oculta su superficie.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/11.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Tierra</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuestro planeta, la Tierra, es el único conocido por albergar vida. Tiene una atmósfera rica en oxígeno y agua en estado líquido en su superficie, lo que permite la existencia de una amplia variedad de formas de vida, incluyendo humanos.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/12.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Marte</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marte, conocido como el "Planeta Rojo", es el cuarto planeta desde el Sol. Tiene una atmósfera delgada y su superficie muestra evidencia de ríos secos y antiguos lagos, lo que sugiere la presencia de agua en el pasado. Actualmente, los científicos exploran Marte en busca de signos de vida pasada o presente.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/13.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Júpiter</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Júpiter es el planeta más grande del sistema solar y está compuesto principalmente de hidrógeno y helio. Tiene una atmósfera turbulenta con bandas de nubes y una Gran Mancha Roja, una inmensa tormenta que ha existido durante siglos. Júpiter también tiene una gran cantidad de lunas, incluyendo las cuatro lunas galileanas más grandes: Ío, Europa, Ganimedes y Calisto.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/14.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Saturno</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Saturno es conocido por sus impresionantes anillos, que están compuestos principalmente de partículas de hielo y roca. Es el segundo planeta más grande y tiene una atmósfera similar a la de Júpiter. Saturno también tiene una gran cantidad de lunas, siendo Titán una de las más destacadas debido a su atmósfera densa y su apariencia similar a la Tierra.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/15.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Urano</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Urano es un planeta gigante de hielo que gira de lado en su órbita, lo que significa que su eje de rotación está inclinado casi 90 grados. Esto le da una apariencia única y provoca estaciones extremas. Urano también tiene anillos y una serie de lunas.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../../assets/IMAG/16.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">Neptuno</h5>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Neptuno es el planeta más lejano del sistema solar. Es similar en composición a Urano y está rodeado por una atmósfera densa de gas y nubes. Tiene una gran mancha oscura similar a la Gran Mancha Roja de Júpiter y una serie de lunas, incluyendo Tritón, que es conocida por ser geológicamente activa.</font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<div class="row featurette" style="background-color: black;">
    <div class="row" style="padding: 3%;">
        <div  style="width: 40%;">
          <div style="width: 100%;">
            <img src="../../../../assets/IMAG/8.jpg" class="card-img-top" alt="center" width="1300" height="300">
            </div>
          </div>
          <div class="col" style="width: 50%;">
            <div style="width: 100%;align-items: center;">
              <div class="card-body">
                <p class="lead" style="color: aqua;">Estos son los ocho planetas reconocidos en nuestro sistema solar. Además de estos, también existen planetas enanos, asteroides, cometas y otros objetos celestes que orbitan alrededor del Sol y contribuyen a la diversidad y complejidad del sistema solar.</p>
              </div>
            </div>
      </div>
      
    
    
</div>