<section id="banner">
  <img src="../../../../assets/IMAG/5.png">

</section>
<section id="imagenes" style="background-color: black;">
  <div class="container text-center">
    <div class="row" >
      <div class="col" style="background-color: rgba(139, 139, 197, 0.281); align-items: center; align-items: center;">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/1.jpg" class="card-img-top" alt="center">
            <div class="card-body"  >
              <h5 class="card-title">planeta</h5>
              <p class="card-text" style="color: rgb(21, 165, 184);">Un planeta es un objeto celestial que orbita alrededor de una estrella, generalmente una estrella como el Sol, en nuestro sistema solar. Estos cuerpos celestes son parte fundamental del universo y se caracterizan por varias características importantes:
                1. Órbita alrededor de una estrella: Los planetas se mantienen en movimiento constante alrededor de una estrella debido a la fuerza de gravedad. En nuestro sistema solar, los planetas giran alrededor del Sol.

                2. Forma esférica: Debido a la gravedad y a la rotación, los planetas tienden a adoptar una forma esférica o casi esférica. Esto se debe a que la gravedad tira de manera uniforme hacia su centro, lo que provoca una compresión de su estructura.

                3. Limpian sus órbitas: Los planetas tienen la capacidad de "limpiar" sus órbitas de otros objetos, lo que significa que su gravedad es lo suficientemente fuerte como para eliminar o desviar asteroides y otros cuerpos más pequeños que se crucen en su camino.

                4. Tienen satélites: Muchos planetas tienen satélites o lunas que orbitan a su alrededor. Por ejemplo, la Tierra tiene la Luna, Marte tiene Fobos y Deimos, y Júpiter tiene una gran cantidad de lunas.

                5. No emiten luz propia: A diferencia de las estrellas, los planetas no generan su propia luz, sino que reflejan la luz de la estrella alrededor de la cual orbitan. Esta es la razón por la que los planetas son visibles en el cielo nocturno.
                Variedad de tamaños y composiciones: Los planetas pueden variar enormemente en tamaño, composición y características. Por ejemplo, algunos planetas, como Júpiter, son gigantes gaseosos con atmósferas densas, mientras que otros, como la Tierra, son planetas terrestres con superficies sólidas y atmósferas respirables.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: chartreuse;">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">nube</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: brown;">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">galaxi</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="cartas" style="background-color: black;">
    <div class="container text-center">
      <div class="row">
        <div  style="width: 30%; background-color: rgb(139, 6, 139);">
          <div style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Titulo 1</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col" style="width: 90%; background-color: rgb(139, 6, 139) ;">
          <div style="width: 100%;align-items: center;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col" style="width: 90%; background-color: rgb(139, 6, 139) ;">
          <div style="width: 100%; align-items: center;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div  style="width: 35%; background-color: rgb(139, 6, 139);">
          <div style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Titulo 2</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</section>
