<section id="banner" style="width: 100%;">
  <img src="../../../../assets/IMAG/5.png" width="1500" height="200">

</section>
<section id="imagenes" style="background-color: black;">
  <div class="container text-center" style="padding: 3%;">
    <div class="row" >
      <div class="col" style="color: rgb(21, 165, 184); align-items: center; align-items: center;">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/1.jpg" class="card-img-top" alt="center">
            <div class="card-body"  >
              <h5 class="card-title" style="color: rgb(2, 224, 240);">planeta</h5>
              <p class="card-text" style="color: rgb(21, 165, 184);">Un planeta es un objeto celestial que orbita alrededor de una estrella, generalmente una estrella como el Sol, en nuestro sistema solar. Estos cuerpos celestes son parte fundamental del universo.
                </p>
              
            </div>
          </div>
      </div>
      <div class="col" style="color: rgb(21, 165, 184);">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">nube</h5>
              <p class="card-text">
                Una nube cósmica, también conocida como nube interestelar, es una vasta y difusa acumulación de gas y polvo en el espacio interestelar, que se encuentra entre las estrellas de una galaxia. Estas nubes son un componente fundamental de la materia interestelar y son cruciales para la formación de estrellas y sistemas planetarios.</p>
              
            </div>
          </div>
      </div>
      <div class="col" style="color: rgb(21, 165, 184);">
        <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(2, 224, 240);">galaxi</h5>
              <p class="card-text">Una galaxia es un inmenso sistema astronómico que consta de una enorme cantidad de estrellas, planetas, gas, polvo, materia oscura y otros objetos celestes que están unidos por la fuerza de la gravedad. Las galaxias son los bloques fundamentales de la estructura del universo y vienen en una variedad de formas y tamaños. </p>
              
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="cartas" style=" background-color: rgb(139, 6, 139);">
    <div class="container text-center" style="padding: 3%;">
      <div class="row">
        <div  style="width: 30%;">
          <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/6.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col" style="width: 90%;">
          <div style="width: 100%;align-items: center;">
            <div class="card-body">
              <h5 class="card-title">Universo</h5>
              <p class="card-text">El universo es la totalidad del espacio, el tiempo, la materia y la energía que existe en nuestro entorno cósmico. Es un vasto y enigmático reino que contiene todo lo que conocemos, incluyendo galaxias, estrellas, planetas, asteroides, cometas, gas, polvo, partículas subatómicas y mucho más. </p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col" style="width: 90%;">
          <div style="width: 100%; align-items: center;">
            <div class="card-body">
              <h5 class="card-title">Multiverso</h5>
              <p class="card-text">El concepto de multiverso se refiere a la idea hipotética de que podría existir un conjunto de universos, incluyendo el nuestro, en un contexto más amplio y diversificado. Cada uno de estos universos, a menudo denominados "universos paralelos" o "mundos alternativos", podría tener sus propias leyes físicas, constantes fundamentales y condiciones iniciales, lo que daría lugar a una variedad infinita de realidades diferentes. </p>
             
            </div>
            
          </div>
          
        </div>
        
        <div  style="width: 35%; background-color: rgb(139, 6, 139);">
          <div style="width: 18rem;">
            <img src="../../../../assets/IMAG/7.jpg" class="card-img-top" alt="center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-secondary"  >Ir a Inicio</a>
      </div>
    </div>
</section>
